*{
  overflow-wrap: break-word!important;
}



.event-list .event-card {
  position: relative;
  margin-top: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
  border-radius: 2px;
}

.event-list .event-card .event-date {
  background: #b6454e;  /* fallback for old browsers */

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-list .event-card .event-date .event-day {
  font-size: 4rem;
  color: #fff;
  display: block;
  line-height: 1;
  text-align: center;
  font-weight: lighter;
}

.event-list .event-card .event-date .event-day .month {
  font-size: 1rem;
  color: #fff;
  display: block;
  letter-spacing: 15px;
  font-weight: bold;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.event-list .event-card .event-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.event-list .event-card .event-infos {
  padding: 0 15px;
}

.event-list .event-card .event-infos .event-title {
  font-size: 2.2rem;
  margin: 0;
}

.event-list .event-card .event-infos .event-place {
  font-size: 1rem;
  
}

.event-list .event-card .event-infos .event-price {
  font-size: 1.125rem;
}

.event-list .event-card .event-links {
  height: 100%;
}

.event-list .event-card .event-links a {
  padding: 10px;
  width: 100%;
  text-align: center;
  color: #a8a8a8;
  transition: 0.2s ease-in-out;
  height: 100%;
}

.event-list .event-card .event-links a:hover {
  color: #292929;
  background-color: #b9b9b9;
}

.general-infos{
  background-color: #FBF8FF;
  padding:15px;
}

.general-infos hr{
  border: 0;
  clear:both;
  display:block;
  width:100%;               
  background-color:rgb(211, 211, 211);
  height: 1px;
}

.custom-bg{
  background: #f7f7f7!important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7f7f7, #ffffff)!important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7f7f7, #ffffff)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ad-banner + .ad-banner{
  margin-top:15px;
}